<dl>
{{#.}}
  <dt>
    {{#html_url}} <a href="{{.}}"> {{/html_url}}
    {{name}}
    {{#html_url}} </a> {{/html_url}}
  </dt>
  <dd>
    {{description}}
    {{#topics}} <span class="topic">{{.}}</span> {{/topics}}
    {{#homepage}} <a href="{{.}}">Try it</a> {{/homepage}}
  </dd>
{{/.}}
</dl>
