<dl>
{{#.}}
  <dt>
    <a href="{{html_url}}">{{name}}</a>
    {{#language}}
      ({{language}}{{#stargazers_count}}, {{.}}⭐{{/stargazers_count}})
    {{/language}}
  </dt>
  <dd>
    <p>{{description}}</p>
    {{#topics}} <span class="tag topic">{{.}}</span> {{/topics}}
    {{#homepage}} <a class="tag try" href="{{.}}">Try it</a> {{/homepage}}
  </dd>
{{/.}}
</dl>
