{{#.}}
  <h3> {{year}} </h3>

  <dl>
  {{#talks}}
    <dt>
      <a href="{{url}}">{{name}}</a>
    </dt>
    <dd>
      <p>{{description}}</p>
      {{#topics}} <span class="tag topic">{{.}}</span> {{/topics}}
    </dd>
  {{/talks}}
  </dl>
{{/.}}
