details {
	margin-bottom: 1em;
}

details > * {
	margin-top: 0;
	margin-bottom: 0;
}

details > p {
	padding-top: 1em;
	padding-bottom: 1em;
}

summary {
	font-size: 144.44%;
	font-weight: bold;
	--nav-height: calc((2 + var(--lh)) * 1rem);
	line-height: var(--nav-height);
}

summary ~ * {
	border-left: 3px solid rgba(255, 255, 255, 0.2);
	margin-left: 0.333rem;
	padding-left: 1rem;
}

dt, li a {
	font-weight: bold;
}

dd {
	margin-top: 0.333em;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}

dd p {
	margin: 0;
	flex: auto;
}

dd + dt {
	margin-top: 1em;
}

ul {
	padding-left: 3em;
}

ul + h3 {
	padding-top: 1em;
}