* {
	transition: all 300ms;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: lato, sans-serif;
	background-color: rgb(100,100,100);
	margin: 0;
	display: flex;
	flex-direction: column;
	font-size: 112.5%;
	max-width: 800px;
	margin: auto;
	--lh: 1.25;
	line-height: var(--lh);
	color: #fff;
	text-shadow: 1px 1px 1px #000;
}

h1, nav {
	order: -1;
}

a {
	color: inherit;
	text-decoration-thickness: 1px;
}

a:not(:hover):not(:focus) {
	text-decoration-color: #aaa;
}

summary ~ * {
	border-left: 3px solid rgba(255, 255, 255, 0.2);
	padding-left: 1em;
}

dt {
	font-weight: bold;
}

dd {
	margin-top: 0.33em;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}

dd p {
	margin: 0;
	flex: auto;
}

dd + dt {
	margin-top: 1em;
}

.topic-missing, .topic-missing + dd { display: none; }

.tag {
	color: initial;
	text-shadow: initial;

	white-space: nowrap;
	border-radius: 8px;
	padding: 1px 4px;
	background-clip: padding-box;
	border: 1px solid transparent;
	margin: 0 2px;
	cursor: pointer;
}

.tag:hover {
	border-color: black;
}

a.try {
	background-color: yellow;
	text-decoration: none;
}

.topic.current {
	font-weight: bold;
}

nav {
	position: sticky;
	top: 0;
	box-shadow: 0 3px 5px -3px #000;
}

nav ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	flex: 1 1 0;
}

nav a {
	display: block;
	padding: 1em 0;
	text-align: center;
}

[href="#games"] { background-color: rgb(26, 44, 54); }
[href="#projects"] { background-color: rgb(101, 120, 130); }
[href="#utils"] { background-color: rgb(94, 135, 0); }
[href="#talks"] { background-color: rgb(186, 156, 0); }
[href="#writings"] { background-color: rgb(201, 81, 0); }
[href="#old"] { background-color: rgb(173, 0, 15); }

#games:target ~ nav [href="#games"],
#projects:target ~ nav [href="#projects"],
#utils:target ~ nav [href="#utils"],
#talks:target ~ nav [href="#talks"],
#writings:target ~ nav [href="#writings"],
#old:target ~ nav [href="#old"] {
	font-weight: bold;
	text-decoration: none;
}
