details {
	scroll-margin-top: var(--nav-height);
}

details > * {
	margin-top: 0;
	margin-bottom: 0;
}

summary { list-style: none; }
summary::-webkit-details-marker { display: none; }

summary h2::before {
	display: inline-block;
	content: "▸";
	margin-right: 4px;
	vertical-align: text-top;
	transform-origin: 50% 62%;
	transition: all 300ms;
}

details[open] h2::before {
	transform: rotate(90deg);
	text-shadow: 1px -1px 1px #000;
}

summary ~ * {
	border-left: 3px solid var(--border);
	margin-left: 13px;
	padding-left: 8px;
}

dt, li a {
	font-weight: bold;
}

dd {
	margin-top: 6px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}

dd p {
	margin: 0;
	flex: auto;
}

dt {
	padding-top: 1em;
}

ul {
	padding-left: 3em;
	padding-bottom: 1em;
}
