@import "nav.css";
@import "details.css";

*, *::before, *::after {
	box-sizing: inherit;
}

html {
	scroll-behavior: smooth;
	font-size: 112.5%;
}

body {
	--lh: 1.333;
	--border: rgba(255, 255, 255, 0.2);

	font-family: lato, sans-serif;
	background-color: rgb(100,100,100);
	margin: 0;
	display: flex;
	flex-direction: column;
	max-width: 800px;
	margin: auto;
	line-height: var(--lh);
	color: #fff;
	text-shadow: 1px 1px 1px #000;
	box-sizing: border-box;
}

h2 {
	margin: 0.5em 0;
}

a {
	color: inherit;
	text-decoration-thickness: 1px;
	transition: all 300ms;
}

a:not(:hover):not(:focus) {
	text-decoration-color: #aaa;
}

main img {
	border-radius: 8px;
	float: right;
	margin-left: 8px;
}

footer {
	margin-top: 3em;
	border-top: 1px solid var(--border);
	width: 80%;
	align-self: center;
	font-size: 88.888%;
}

footer p {
	text-align: center;
}

.topic-missing, .topic-missing + dd { display: none; }

.tag {
	color: initial;
	text-shadow: initial;

	white-space: nowrap;
	border-radius: 8px;
	padding: 0 4px;
	background-clip: padding-box;
	border: 1px solid transparent;
	margin: 0 2px;
	cursor: pointer;
}

.tag:hover {
	border-color: black;
}

.try {
	background-color: yellow;
	text-decoration: none;
}

.topic.current {
	font-weight: bold;
}

@media (max-width: 800px) {
	body > *:not(nav) {
		margin-left: 8px;
		margin-right: 8px;
	}
}
